 body{
  margin:0px;
 }
 
  header {
    margin-bottom: 40px;
    background-color: #000;
    height: 100px;
    padding:10px;
  }
 
  .star {
    position: relative; /* 절대적 위치 설정 */
    top: -110px; /* 별의 상단 위치 조정 */
    left: 700px; /* 별의 왼쪽 위치 조정 */
    width: 65px; /* 별의 너비 */
    height: 65px; /* 별의 높이 */
  }


 

  h1{
    color:white;
    text-align: right;
    padding-right: 10%;
    font-family: Arimo Hebrew Subset;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px; /* 글자를 10픽셀 아래로 이동 */
  }

  h2{
    color: #777777;
font-family: Arimo Hebrew Subset;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
-webkit-text-stroke: 2px black;
margin: 5px 0px 0px 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드, 각 열은 사용 가능한 공간을 동일하게 차지 */
    gap: 30px; /* 그리드 아이템 사이의 간격 */
    margin: 30px;
    align-items: center;
  }
  
 p{
  margin: 10px 0px 0px 30px;
 }
  
  
  .season {
    border: 6px solid #000;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    height: 190px;
    flex-shrink: 1;
    justify-content: center; 
  }


  #spring {
     background-color: #fefff0;
     margin:2% 5% 2% 5%; 
  }
  .spring_button {
 
    height: auto; /* 이미지의 높이를 자동으로 설정하여 비율을 유지 */
    display: block; /* 이미지를 블록 요소로 만들어 줄바꿈 */
    position: relative;
    width:200px;
    top: -10px;
    left: 300px;
  }

  #summer {
     background-color: #fefff0; 
     margin:2% 5% 2% 5%;
  }

  .summer_button{
    height: auto; /* 이미지의 높이를 자동으로 설정하여 비율을 유지 */
    display: block; /* 이미지를 블록 요소로 만들어 줄바꿈 */
    position: relative;
    width:200px;
    top: 10px;
    left: 300px;
  }
  #winter { 
    background-color: #fefff0; 
    margin:2% 5% 2% 5%; 
  }

  .winter_button{
    height: auto; /* 이미지의 높이를 자동으로 설정하여 비율을 유지 */
    display: block; /* 이미지를 블록 요소로 만들어 줄바꿈 */
    position: relative;
    width:200px;
    top: 10px;
    left: 300px;
  }


  #autumn {
     background-color: #fefff0; 
     margin:2% 5% 2% 5%; 
    }

    .autumn_button{
      height: auto; /* 이미지의 높이를 자동으로 설정하여 비율을 유지 */
      display: block; /* 이미지를 블록 요소로 만들어 줄바꿈 */
      position: relative;
      width:200px;
      top: -10px;
      left: 300px;
    }
  
  footer {
    background: #171717;
    color: white;
    text-align: center;

    opacity: 0.88;
    position: center;
    bottom: 10px;
    width: 100%;
    height: 30px;
  }
  
 