body{
  margin:0px;
}


header{
  margin-bottom: 40px;
  background: #FFD43C;
  height: 100px;
  padding:10px;
}

  

.autumn_sun{
  position: absolute;
  left: 680px;
  top:20px;
  width: 17%;
  height: auto;
}

.autumn_star {
  position: relative; /* 절대적 위치 설정 */
  top: 0px; /* 별의 상단 위치 조정 */
  left: 650px; /* 별의 왼쪽 위치 조정 */
  width: 60px; /* 별의 너비 */
  height: 60px; /* 별의 높이 */
}

.autumn_ground{
  position: absolute;
  top:285px;
  width: 98%;
  height: 30%;
  right:10px;
}


.autumn_tree{
  position: absolute;
  top:10px;
  height: 380px;
  width: 300px;
  left:5px;
} 


.autumn_category_nature{
  position:absolute;
}

.autumn_gom{
  position: absolute;
  top:220px;
  left:350px;
  width:200px;
}

.autumn_galdae_1{
  position: absolute;
  top:210px;
  width:140px;
  right:20px;
}


.autumn_galdae_2{
  position: absolute;
  top:250px;
  width:140px;
  right:140px;
}

.autumn_galdae_3{
  position: absolute;
  top:210px;
  width:140px;
  right:140px;
}

.autumn_galdae_4{
  position: absolute;
  top:250px;
  width:140px;
  right:30px;
}
 

.content-area{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

 

 
.autumn_logo{
  position: relative; /* 절대적 위치 설정 */
  top: 10px; /* 별의 상단 위치 조정 */
  left: 20px; /* 별의 왼쪽 위치 조정 */
  width: 270px;
  height: auto;
}
 


.main-content{
  border-radius: 50px;
  border: 9px solid #FFE37E;
  background: #FFEA9F;
  width: 65%;
 flex-shrink: 0;
 position: relative;
 top: -5px;   
 left: 40px;
 margin-top: 10px;
 padding:10px 10px 20px 30px;
  
}

.category-list{
  position: relative;
  top: -20px;   
  bottom:20px;
  margin-left: 30px; 
}

ul{
color: #000;
font-family: Lexend Giga;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
left: 10px;
}

li {
  line-height: 1.5; /* 원하는 줄 간격 설정 */
  margin-bottom: 15px; /* 리스트 아이템 하단 마진으로 간격 조절 */
}

h2{
  -webkit-text-stroke: 2px #F8C200;
  color:white;
  font-weight: 1000;
  margin-left: 15px;
}

.menu{
  background-color:#FFE37E;
  width: 220px;
  height: 380px;
  flex-shrink: 0;
  padding-top: 10px;
  padding-left: 15px;
  margin-right: 40px;
}

footer {
  background-color: rgba(255, 220, 98, 0.63);
  color: #D8A900;
  text-align: center;
  opacity: 0.88;
  position: center;
  bottom: 10px;
  width: 100%;
  height: 30px;
}
